name: Deploy to CloudPanel VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd htdocs/www.meetscheduling.com
            git pull origin main
            npm install
            npm run build
            pm2 restart all || clpctl nodejs:restart --domainName=www.meetscheduling.com || sudo systemctl restart clp-nodejs-www.meetscheduling.com
